/**
 * Cafe style file
 * @author - Faizal 
 * @date - 23rd August 2024
 */
.table-controller {
    display: flex;
    flex: 1;
    margin-bottom: 8px; 
}
.table-header {
    font-size: 9px;
    font-weight: 700;
    padding: 8px 12px;
    background-color: #f9f8fa;
    border-radius: 4px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
.table-row {
    font-size: 10px;
    font-weight: normal;
    padding: 8px 12px;
    border-bottom: none;
    background-color: #fff;
    border: 1px solid #eff0f3;
    margin: 8px 0;
    transition: all linear 0.5s;
    align-items: center;
}
.table-row:hover {
   background-color: #f9f8fa;
   border: 1px solid #f9f8fa;
   cursor: pointer;
}
.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    padding-right: 15px;
}
.light-title-icon {
    color: #bdc3c7;
}